; http://editorconfig.org/

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[Makefile]
indent_style = tab

[.arclint]
max_line_length =

[externals/**]
indent_style =
indent_size =
trim_trailing_whitespace = false
insert_final_newline = false

[resources/ssl/*.pem]
max_line_length =

[src/console/__tests__/wrap/*.txt{,.expect}]
trim_trailing_whitespace = false
max_line_length =

[src/markup/engine/__tests__/remarkup/*.txt]
trim_trailing_whitespace = false
max_line_length =

[src/markup/syntax/highlighter/__tests__/phpfragment/*.expect]
max_line_length =

[src/markup/syntax/highlighter/__tests__/xhpast/*.expect]
max_line_length =

[src/markup/syntax/highlighter/__tests__/xhpast/*.{expect,source}]
insert_final_newline = false

[src/parser/__tests__/json/*.data]
insert_final_newline = false

[src/parser/__tests__/json/*.{data,json}]
max_line_length =

[src/parser/__tests__/languageguesser/*]
indent_style =

[support/xhpast/*.{cpp,hpp,l,y}]
max_line_length =
